.flash {
  position:fixed;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);

  max-width: 100%;
  width: max-content;

  background-color: chartreuse;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,.1);

  &__message {
    animation: appear-then-fade 2s both;
    padding: 0.75rem;
  }
}
